{% extends 'blog/base.html' %}

{% block content %}
    <div class="basic-container">
        <div class="post-detail">
            {% if post.published_date %}
                <div class="post-detail-date">
                    {{ post.published_date }}
                </div>
            {% endif %}
            <h1 class="post-detail-title">{{ post.title }}</h1>
            <p class="post-detail-text">{{ post.text|linebreaksbr }}</p>
            {% if user.is_authenticated %}
                <a class="edit-post-link" href="{% url 'post_edit' pk=post.pk %}">Edit post</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
