@import url('https://fonts.googleapis.com/css?family=PT+Sans|Material+Icons');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

header {
    height: 15rem;
    padding: 1.6rem;
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.add-post {
    display: inline-block;
    align-self: flex-end;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: right;
}

.add-post i {
    font-size: 3.2rem;
    color: #fff;
}

.blog-title {
    align-self: center;
}

.blog-title a {
    font-size: 3.6rem;
    color: #fff;
}

.blog-title a:hover,
.post-title a:hover {
    color: #784f9b;
}

.post-list-container,
.basic-container {
    height: 100%;
    background-color: #d4d4d4;
    color: #2f2f2f;
}

.post-list-container {
    padding: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.2rem;
}

.post,
.post-detail,
.post-form {
    background-color: #fff;
    border: 4px dashed #784f9b;
    border-radius: 1rem;
}

.post {
    padding: 2.4rem 1.6rem;
    display: flex;
    flex-direction: column;
}

.post-title,
.post-detail-title,
.post-form h1,
.post-form p {
    margin-bottom: 1.6rem;
}

.post-title a {
    color: #2f2f2f;
}

.post-date {
    margin-top: auto;
    text-align: right;
    font-size: 1.2rem;
}

.basic-container {
    padding: 3.2rem;
}

.post-detail,
.post-form {
    margin: 0 auto;
    max-width: 900px;
    padding: 4.8rem;
}

.post-detail-date {
    text-align: right;
}

.post-detail-text {
    font-size: 1.6rem;
}

.post-form p {
    display: flex;
    flex-direction: column;
}

.post-form label {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
}

.post-form input {
    height: 3.2rem;
}

.post-form input,
.post-form textarea {
    border: 1px solid #2f2f2f;
    border-radius: 0.3rem;
    padding: 0.8rem;
    font-size: 1.4rem;
}

.post-form button {
    padding: 0.8rem 1.6rem;
    border: none;
    background-color: #000;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.post-form button:hover {
    background-color: #784f9b;
}
